body {
    background-color: #090e3a;
    color: #b9a4f1;
}

hr {
    border: 3px solid #1d267D;
    border-radius: 2px;
}

div.box {
    background-color: #4d3594;
    border-radius: 5px;
    margin: 3%;
    /* border: 3px solid #1d267D; */
    box-shadow: 2px 2px 7px #ab88fd;
}

/* navbar */
.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1rem 2rem; 
  color: #ab88fd;
}

.navbar-box-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    border-radius: 8px;
    height: 100px;
    width: 100px;
    box-shadow: .5px .5px 20px #b9a4f1, -.5px -.5px 20px #b9a4f1;
    margin: 3%;
}

.cpcodex {
    font-size: 3rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 200;
    font-style: oblique;
    text-shadow: 1px 1px #734eda
}

.navbar ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #b9a4f1;
  font-size: 1rem;
}

.navbar a:hover {
  color: #00a2ff;
  text-decoration: underline;
}

.hamburger-menu {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  z-index: 10;
  flex-direction: column;
  gap: 5px;
}

.hamburger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #e0e0e0;
  border-radius: 3px;
}
/* end navbar */

/* box-body */
.box-header {
    display: flex;
    justify-content: center;
    color: #dd89ff;
    font-family: "Roboto Mono", monospace;
    text-shadow: 1px 1px 1px #090e3a;
}

.box-header-body {
    border-radius: 5px;
    height: 100px;
    margin: 10px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.box-header-body p {
    margin: 5px;
    color: #ddd1ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px #090e3a;
}
/* end box-body */

/* footer */
.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    font-family: 'Courier New', Courier, monospace;
}
/* end footer */

::selection {
  background-color: #5c469c;
  color: #e0e0e0;
}

/* responsivness */
/* MAX */
@media (max-width: 768px) {
  .navbar {
    position: absolute;       
    top: 100%;
    left: 0;
    right: 0;
    background-color: #090e3a;
    padding: 1rem 0;
    border: 2px solid #5c469c;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px #00e1ff, -2px -2px 20px #00e1ff;
    text-shadow: 2px 2px 2px #4d3594;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .main-header.is-menu-open .navbar {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .navbar a:hover {
  color: #00a2ff;
  font-size: 1.5rem;
  text-decoration: underline;
}
}

/* MIN */
@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}