body {
    background-color: #090e3a;
    color: #b9a4f1;
}

hr {
    border: 2px solid #1d267D;
    border-radius: 5px;
}
div.box {
    background-color: #5c469c;
    border-radius: 5px;
    margin: 3%;
}

/* -- classes -- */
/* navbar */

.navbar-box {
    display: flex;
    justify-content: space-evenly;
    border: 2px rgb(96 139 168);
}

.icon {
    border-radius: 8px;
    width: 175px;
    opacity: 70%;
    box-shadow: 10px 10px 80px #b9a4f1;
    align-self: flex-end;
    margin: 3%;
}

.cpcodex {
    font-size: 54px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style:oblique; 

}

.navbar-box {
    display: flex;
    justify-content: space-evenly;
    border: 2px rgb(96 139 168);
}

.footer {
    display: flex;
    justify-content: center;
}